
.icon {
  background-image: url('../sprites/sprite.png');
}

.icon-missouri {
  background-position: -0px -0px;
  width: 908px;
  height: 713px;
}
.icon-alabama {
  background-position: -0px -713px;
  width: 908px;
  height: 713px;
}
.icon-arizona {
  background-position: -0px -1426px;
  width: 908px;
  height: 713px;
}
.icon-arkansas {
  background-position: -0px -2139px;
  width: 908px;
  height: 713px;
}
.icon-blank {
  background-position: -0px -2852px;
  width: 908px;
  height: 713px;
}
.icon-california {
  background-position: -0px -3565px;
  width: 908px;
  height: 713px;
}
.icon-colorado {
  background-position: -0px -4278px;
  width: 908px;
  height: 713px;
}
.icon-connecticut {
  background-position: -0px -4991px;
  width: 908px;
  height: 713px;
}
.icon-delaware {
  background-position: -0px -5704px;
  width: 908px;
  height: 713px;
}
.icon-florida {
  background-position: -0px -6417px;
  width: 908px;
  height: 713px;
}
.icon-georgia {
  background-position: -0px -7130px;
  width: 908px;
  height: 713px;
}
.icon-hawaii {
  background-position: -0px -7843px;
  width: 908px;
  height: 713px;
}
.icon-idaho {
  background-position: -0px -8556px;
  width: 908px;
  height: 713px;
}
.icon-illinois {
  background-position: -0px -9269px;
  width: 908px;
  height: 713px;
}
.icon-indiana {
  background-position: -0px -9982px;
  width: 908px;
  height: 713px;
}
.icon-iowa {
  background-position: -0px -10695px;
  width: 908px;
  height: 713px;
}
.icon-kansas {
  background-position: -0px -11408px;
  width: 908px;
  height: 713px;
}
.icon-kentucky {
  background-position: -0px -12121px;
  width: 908px;
  height: 713px;
}
.icon-louisiana {
  background-position: -0px -12834px;
  width: 908px;
  height: 713px;
}
.icon-maine {
  background-position: -0px -13547px;
  width: 908px;
  height: 713px;
}
.icon-maryland {
  background-position: -0px -14260px;
  width: 908px;
  height: 713px;
}
.icon-massachusetts {
  background-position: -0px -14973px;
  width: 908px;
  height: 713px;
}
.icon-michigan {
  background-position: -0px -15686px;
  width: 908px;
  height: 713px;
}
.icon-minnesota {
  background-position: -0px -16399px;
  width: 908px;
  height: 713px;
}
.icon-mississippi {
  background-position: -0px -17112px;
  width: 908px;
  height: 713px;
}
.icon-alaska {
  background-position: -0px -17825px;
  width: 908px;
  height: 713px;
}
.icon-montana {
  background-position: -0px -18538px;
  width: 908px;
  height: 713px;
}
.icon-nebraska {
  background-position: -0px -19251px;
  width: 908px;
  height: 713px;
}
.icon-nevada {
  background-position: -0px -19964px;
  width: 908px;
  height: 713px;
}
.icon-new_hampshire {
  background-position: -0px -20677px;
  width: 908px;
  height: 713px;
}
.icon-new_jersey {
  background-position: -0px -21390px;
  width: 908px;
  height: 713px;
}
.icon-new_mexico {
  background-position: -0px -22103px;
  width: 908px;
  height: 713px;
}
.icon-new_york {
  background-position: -0px -22816px;
  width: 908px;
  height: 713px;
}
.icon-north_carolina {
  background-position: -0px -23529px;
  width: 908px;
  height: 713px;
}
.icon-north_dakota {
  background-position: -0px -24242px;
  width: 908px;
  height: 713px;
}
.icon-ohio {
  background-position: -0px -24955px;
  width: 908px;
  height: 713px;
}
.icon-oklahoma {
  background-position: -0px -25668px;
  width: 908px;
  height: 713px;
}
.icon-oregon {
  background-position: -0px -26381px;
  width: 908px;
  height: 713px;
}
.icon-pennsylvania {
  background-position: -0px -27094px;
  width: 908px;
  height: 713px;
}
.icon-rhode_island {
  background-position: -0px -27807px;
  width: 908px;
  height: 713px;
}
.icon-south_carolina {
  background-position: -0px -28520px;
  width: 908px;
  height: 713px;
}
.icon-south_dakota {
  background-position: -0px -29233px;
  width: 908px;
  height: 713px;
}
.icon-tennessee {
  background-position: -0px -29946px;
  width: 908px;
  height: 713px;
}
.icon-texas {
  background-position: -0px -30659px;
  width: 908px;
  height: 713px;
}
.icon-utah {
  background-position: -0px -31372px;
  width: 908px;
  height: 713px;
}
.icon-vermont {
  background-position: -0px -32085px;
  width: 908px;
  height: 713px;
}
.icon-virginia {
  background-position: -0px -32798px;
  width: 908px;
  height: 713px;
}
.icon-washington {
  background-position: -0px -33511px;
  width: 908px;
  height: 713px;
}
.icon-west_virginia {
  background-position: -0px -34224px;
  width: 908px;
  height: 713px;
}
.icon-wisconsin {
  background-position: -0px -34937px;
  width: 908px;
  height: 713px;
}
.icon-wyoming {
  background-position: -0px -35650px;
  width: 908px;
  height: 713px;
}
